body{
    margin:0;    
}
.header-section{
    background-image: url(images/donation-1.png);
    background-color:rgb(131, 139, 57);
    height:400px;    
    background-repeat: no-repeat;
    background-size:100% 100%; 
    background-attachment: fixed;   
    opacity: 0.9;
    position:relative;
    display: flex;
    justify-content: center;
    margin-bottom:100px;
    
}
.container{
    margin:0 auto;
    margin-top:50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:white; 
       
}
h1{
    font-size:40px;
    font-weight: 700px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.do-text-center{
    text-align: center;
}
p{
    margin-left:5%;
    margin-right:5%;
    margin-bottom:60px;       
    font-size: 13px;

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(to right,red,rgb(250, 120, 142));
    margin-top:50px;
    padding:7px 7px;
    color:white;
    border-radius: 2px;
}
.donation-section{
    text-align: center;
    padding:10px;
    margin-left:20%;
    margin-right:20%;
}
.do-grey{
    color:grey
}
.flexible-container{
    display: flex;
    justify-content: center;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:50px;    
}

.amount-button{
    text-decoration: none;
    color:rgb(99, 98, 98);
    font-weight: 50px;
    font-size: 25px;
    padding:20px;
    margin:5px;
    background-color:rgb(241, 241, 241);
    border: 2px solid none;
    border-radius: 5px;    
}
#diff-button{
    background-color:rgb(252, 216, 209);
    color:rgba(255, 121, 97, 0.952);
    border:2px solid rgba(253, 109, 90, 0.945);
}

.text-box1{
    width:60%;
    padding:8px;
    text-align: center;
    margin-bottom:30px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: grey;
    
}
.donation-box{      
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom:100px;
}
.help-type{
    width:33%;
    text-align: justify;
    margin-left:2%;
    margin-right:2%;
    padding:5px;
    border-radius: 5px;
}
#h-type1{
    background-color: rgb(225, 247, 225);
}
#h-type2{
    background-color: rgb(255, 255, 213);
}
#h-type3{
    background-color: rgb(214, 214, 253);
}
.help-type img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:40px;
    width:40px;
        
}
.do-width-half{
    width:50%;
    text-align: left;
    margin:5%;

}
.middle-content{
    width:50%;
    border-radius: 5px;
}
.search-container{
    height:100px;
    width:50%;
    background-color:rgb(255, 244, 219);
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;


}
.email{
    background-color: rgb(207, 207, 207);
    padding:10px;
    margin-right: 0px;
    text-align: left;
    outline: none;
    border-width: 0px;
    border-radius:5px 0px 0px 5px;
}
.subscribe-button{
    width:30%;
    background-color:rgb(206, 98, 98);
    color:whitesmoke;
    padding:10px 15px;
    border:none;
    border-radius:0px 5px 5px 0px;
    margin-left:0;
}
footer{
    
    height:100px;
    background-color: rgba(9, 9, 22, 0.815);
    color:whitesmoke;
}
.do-design{
    color:orange;
    font-family:sans-serif;
    padding-top:20px;
    margin-bottom: 0;
}